@font-face {
    /* font-properties */
    font-family: pingfang;
    src:url('ttf/苹方黑体-纤细-简.ttf'),
    url('ttf/苹方黑体-纤细-简.ttf');
    /*url('pictos/pictos-web.eot');  IE9 */
}



.main-wrapper {
    height: 1366px;
    width: 768px;
    font-family: 'pingfang';
}

.header-wrapper {
    border:0px solid black;
    !background: -webkit-gradient(linear, 0 0, 100% 0, from(#233041), to(#324968));
    background-image: url("../images/1/上层背景图1.png");
}

.left-header {
    float: left;
    color: #AEC6E0;
    font-size:2em;
}

.right-header {
    float: right;
    color: #AEC6E0;;
    
}

.datetime, .chs-title, .eng-title{
    color: white;
}
.date {
    font-size: 13px;
}
.time {
    font-size:30px;
}
.top_header {
    padding-top: 20px;
    padding-left:50px;
    padding-bottom: 25px;
}
.bottom_header {
    vertical-align: top;
    padding-left: 40px;
    padding-bottom: 20px;
}

.chs-title{
    font-size: 1.4em;
}
.datetime {
    width: 135px;
    height: 90px;
    background-color: #C708D4;
    padding-left: 15px;
    padding-top:10px;
    vertical-align: top;
}

.bottom_header > div {
    display: inline-block;
    border: 0px solid white;
}

.expired_food {
    width: 270px;
    height: 90px;
    background-image: url("../images/1/过期食品背景图.png");
    background-position: -180px -120px;
    z-index: 999;

}
.expired_food > div {
    display: inline-block;
}

.expired_food_item {
    color: #BC05D8;
    font-size: 12px;
}

.progress_bar {
    width: 120px;
    padding-left: 8px;
    padding-right: 20px;
    vertical-align: top;
}

.expired_food_name {
    position: relative;
    top: -6px;
}
.in_time {
    position: relative;
    top: -6px;
}

.rate_intro, .temperature_intro {
    font-size: 12px;
}

.bar_3, .bar_2 {
    border-top: 4px solid #BC05D8;

}
.exclamation_icon {
    vertical-align: top;
    padding: 5px 15px 0 20px;
}

.expired_list  > div {
    display: block;
}

.expired_intro {
    color: #C66CE1;
    font-size: 12px;
    padding-top: 8px;
    padding-bottom: 10px;
}
.expired_food_item > div  {
    display: inline-block;
}

.num  > div{
    display: inline-block;
}


.datetime > div {
    display: inline-block;
}

.temperature , .rate, .line_h {
    float: right;
    display: block;
}

.rate {
    padding: 8px 35px 10px 0px;
    width: 127px;
}
.temperature {
    padding: 8px 0px 10px 25px;
}

.line_h {
    width: 2px;
    height: 48px;
    margin: 35px 25px 0 25px;
    background-color: #993CD3;
    z-index:9999;
}

.rate_intro, .temperature_intro {
    color: #A12EB4;
}

.num_1 {
    color: white;
    font-size: 46px;
}
.num_2{
    color: #A12EB4;
    font-size: 18px;
    padding-left: 8px;
}

.hello_word {
    background-image: url("../images/1/早上好背景图.png");
    background-position: 0px -230px;
    height: 40px;
    color: #C167DA;
    font-size: 12px;
    padding-left: 42px;
    line-height: 40px;
    vertical-align: bottom;
}

.food_vew_footer {
    background-image: url("../images/1/底部背景图.png");
    background-position: 0px -1330px;
    height: 35px;
    vertical-align: bottom;
}

.humidity, .wind {
    font-size: 1.4em;
}

.box{
  display: -webkit-flex; /* Safari */
  display: flex;
}
.item {
  flex-grow: 1; /* default 0 */
}

.true_main_div {
    min-height: 1060px;
}
.footer_div {
    min-height: 200px;
    background: -webkit-gradient(linear, 0 0, 100% 0, from(#1D2434), to(#212E3E));
}
.choose_fridge_and_foodtype {
    color: #AEC6E0;
    font-size: 1.4em;   
    padding: 30px;
}
.food_list {
    font-size: 1.4em;   
    color: #AEC6E0;
}
.food_item {
    margin: 10px 0 10px 10px;
    height: 245px;
    width: 245px;
    border: 2px solid #7E268B;
    display: inline-block;
    vertical-align: top;
    padding: 4px;
    position: relative;
}
.food_left, .food_right {
    display: inline-block;
    vertical-align: top;
}
.food_left {
    background-color: #5D2E84;
    height: 55px;
    width: 90px;
}
.no_food_left {
    background-color: #D43308;
    height: 100%;
    width: 90px; 
}

.no_left_day_div_left {
    padding-top: 5px;
    padding-left: 8px;
    color: white;
    font-size:34px;
}

.no_left_day_div_right .day {
    font-size: 12px;
    color: white;
}

.no_left_day_div > div {
    display: inline-block;
}
.food_item .image_v {
    width: 165px;
    height: 165px;
    float:right;
    vertical-align: bottom;
}
.left_day_div {
    padding-left: 8px;
    padding-top: 5px;
}
.left_day_div_left {
    font-size: 34px;
    color: white;
}
.left_day_div_right .day {
    color: white;
    font-size: 12px;
}
.left_day_div > div {
    display: inline-block;
    vertical-align: top;
}
.choose_fridge_and_foodtype > div ,.food_type_list > div {
    display: inline-block;
}

.food_name, .food_weight {
    color: #361753;
    font-size: 22px;
    padding: 10px 0 0 8px;
}

.no_food_left .food_name, .no_food_left .food_weight {
     color: white;
}
.food_weight {
    font-size: 17px;
    padding-top: 4px;
}

.food_right {
    border: 0px solid black;
    float: right;
    position: absolute;
    right: 0;
    top:0;
}

.cycle {
    font-size: 8px;
    padding-top: 18px;
    padding-right: 23px;
    padding-bottom: 30px;
    text-align: right;
    color: #7C4C97;
}
.no_eat img{
    z-index: 999;
}

.no_eat {
    z-index: 1200;
    height: 100px;
    background-repeat: no-repeat;
    background-image: url("../images/1/已经过期2.png");
    background-position: -2px -95px;
}
.no_eat_title {
    color: white;
    font-size: 10px;
}
.food_type_list {
    float: right;
    cursor: pointer;
}
.food_type_list > div {
    width: 120px;
    padding: 5px;
    border: 2px solid #AEC6E0;
    border-radius: 30px;
}

.menu_list {
    height: 38px;
    background-image: url("../images/1/导航栏背景图.png");
    background-position:  -2px -2px;
    color: #9B10A5;
    line-height: 40px;
    font-size: 18px;
    cursor: pointer;
    padding: 0 85px 0 85px;
}
.menu_list img {
    height: 20px;
}

.manage_menu_on {
    background-image: url("../images/1/食材管理(亮).png") !important;
    background-repeat: no-repeat;
    background-position: 10px 0px !important;
}
.manage_menu_off {
    background-image: url("../images/1/食材管理(暗).png");
    background-repeat: no-repeat;
    background-position: 18px 8px;
}
.mall_menu_on {
    background-image: url("../images/1/在线生鲜(亮).png") !important;
    background-repeat: no-repeat;
    background-position: 10px 0px !important;
}
.mall_menu_off {
    background-image: url("../images/1/在线生鲜(暗).png");
    background-repeat: no-repeat;
    background-position: 18px 8px;
}
.cookbook_menu_on {
    background-image: url("../images/1/菜谱推送(亮).png") !important;
    background-repeat: no-repeat;
    background-position: 10px 0px !important;
}
.cookbook_menu_off {
    background-image: url("../images/1/菜谱推送(暗).png");
    background-repeat: no-repeat;
    background-position: 18px 8px;
}
.manage_menu  img {
    height: 20px;
}

.manage_menu {

}
.mall_menu , .cookbook_menu {
    height: 20px;
}

.menu_list_click, .food_type_choose {
    color: white;
}
.menu_list_click {
    border-bottom: 0px white solid;
}
.food_type_choose {
    border: 0px solid white;
}
.middle-menu > div  {
    display: inline-block;
}

.food_detail {
    position: fixed;
    top: 20px;
    left: 40px;
    z-index: 999;
    width: 689px;
    height: 586px;
    background-image: url("../images/1/弹出-背景.png");
    background-position: -40px -430px;
}

.cook_book_descrpition {
    position: fixed;
    top:0;
    left:0;
    z-index: 999;
    width: 400px;
    height: 400px;
    background-color: white;
}

.view_cart_list_detail {
    position: fixed;
    top:0;
    left:0;
    z-index: 999;
    width: 400px;
    height: 400px;
    background-color: white;
}

.cb_type {
    padding: 10px;
    margin: 10px;
    color: #AEC6E0;
    border: 1px solid #AEC6E0;
    border-radius: 15px;
    width: 15%;
    display: inline-flex;
    justify-content:center;
    cursor: pointer;
}
.food_detail_header > div {
    display: inline-block
}
.food_detail_header {
    border: 0px solid black;
    position:relative;
    text-align: center;
}
.chs_name {
    margin-top: 15px;
    font-size: 34px;
    color: white;
}
.english_name {
    font-size: 17px;
    color: #AA57D1;
}

.line_w {

    margin: 15px 45px 15px 45px;
    height: 2px;
    background-color: #9B4ED9;

}
.close_view_food {
    position: absolute;
    right:0;
    float: right;
    padding: 15px;
}












.cookbook_type_choose {
    color: white;
    background-color: #AEC6E0;
}

.cookbook_show  > div{
    display: inline-block;
}


.cookbook_detail {
    color: #AEC6E0;
}
.cb_name, .footer_right_icon {
    color: white;
}

.footer_div > div{
    display: inline-flex;
}
.footer_info {
    background-color: : #AEC6E0;
    padding: 15px;
    color: white;
}

.mall_intro{
    color: white;
}

.mall_type {
    padding: 15px;
    cursor: pointer;
    color: #AEC6E0;
    text-align: center;
    justify-content: center ;
}

.mall_type_choose {
    color: white;
    background-color: #364C61;
}

.market_list, .brand_list {
    color: #AEC6E0;
    cursor: pointer;
}

.market_choosed, .market_intro , .brand_choosed, .brand_intro{
    color: white;
}

.market_intro , .market_list , .brand_intro , .brand_list {
    display: inline-flex;
    padding: 20px;
}

.filter_market_brand {
    margin: 15px;
    padding: 15px;
    background-color: #364C61;
}

.good_list {
    display: inline-flex;
    flex-wrap: wrap;
    height: 690px;
    overflow-y: scroll;
}


.good_item {
    width: 30%;
    background-color: #364C61;
    margin: 15px;
    padding: 15px;
    border-radius: 15px;
    height: 330px;
}

.good_name {
    color: white;
}
.good_footer {
    color: red;
}

.good_footer > div {
    display: inline-block;
}

.cart_btn {
    color: white;
    float: right;
    margin-right: 20px;
}

.cart_status_show {

    width: auto;
    background-color: #364C61;
    height: 80px;
    border-radius: 15px;
}

.show_cart_list_detail {
    border-radius: 15px;
    background-color: red;
    color: white;
    height: 80px;
    line-height: 60px;
    width: 150px;
}

.cart_status_show > div {
    display: inline-flex;
    align-items: center;
}

.cart_intro span {
    color: #AEC6E0;
}



.cart_intro {
    color: white;
}

.total_price {
    color: red;
    float:right;
    margin-right: 30px;
    line-height: 80px;
}

.total_count {
    color: white;
    float:right;
    background-color: red;
    border-radius:30px;
    width: 30px;
    height: 30px;
    margin-right: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}

.cart_intro_title {
    font-size: 2em;
    display: block;
}

.food_vew_footer {
    float: right;
    width: 100%;
    padding: 14px 15px 0 15px;
}
.food_page_item {
    margin-left: 15px;
    float: right;
    display: inline-block;
    width: 10px;
    height: 10px;
    border: 2px solid  #9706A1;
    border-radius: 10px;
    cursor: pointer;
}

.food_page_item_choose {
    background-color: #9706A1;
}
