@font-face {
    /* font-properties */
    font-family: pingfang;
    src:url('../../ttf/苹方黑体-纤细-简.ttf'),
    url('../../ttf/苹方黑体-纤细-简.ttf');
    /*url('pictos/pictos-web.eot');  IE9 */
}

body{
    /* 最后修改此项目 */
    !overflow: hidden;
}

.main-wrapper {
    height: 1366px;
    width: 768px;
    font-family: 'pingfang';
}

.header-wrapper {
    border:0px solid black;
    !background: -webkit-gradient(linear, 0 0, 100% 0, from(#233041), to(#324968));
    background-image: url("../images/1/上层背景图1.png");
}

.left-header {
    float: left;
    color: #AEC6E0;
    font-size:2em;
}

.right-header {
    float: right;
    color: #AEC6E0;;
    
}

.datetime, .chs-title, .eng-title{
    color: white;
}
.date {
    font-size: 13px;
}
.time {
    font-size:30px;
}
.top_header {
    padding-top: 20px;
    padding-left:50px;
    padding-bottom: 25px;
}
.bottom_header {
    vertical-align: top;
    padding-left: 40px;
    padding-bottom: 20px;
}

.chs-title{
    font-size: 1.4em;
}
.datetime {
    width: 135px;
    height: 90px;
    background-color: #C708D4;
    padding-left: 15px;
    padding-top:10px;
    vertical-align: top;
}

.bottom_header > div {
    display: inline-block;
    border: 0px solid white;
}

.expired_food {
    width: 270px;
    height: 90px;
    background-image: url("../images/1/过期食品背景图.png");
    background-position: -180px -120px;
    z-index: 999;

}
.expired_food > div {
    display: inline-block;
}

.expired_food_item {
    color: #BC05D8;
    font-size: 12px;
}

.progress_bar {
    width: 120px;
    padding-left: 8px;
    padding-right: 20px;
    vertical-align: top;
}

.expired_food_name {
    position: relative;
    top: -6px;
}
.in_time {
    position: relative;
    top: -6px;
}

.rate_intro, .temperature_intro {
    font-size: 12px;
}

.bar_3, .bar_2 {
    border-top: 4px solid #BC05D8;

}
.exclamation_icon {
    vertical-align: top;
    padding: 5px 15px 0 20px;
}

.expired_list  > div {
    display: block;
}

.expired_intro {
    color: #C66CE1;
    font-size: 12px;
    padding-top: 8px;
    padding-bottom: 10px;
}
.expired_food_item > div  {
    display: inline-block;
}

.num  > div{
    display: inline-block;
}


.datetime > div {
    display: inline-block;
}

.temperature , .rate, .line_h {
    float: right;
    display: block;
}

.rate {
    padding: 8px 35px 10px 0px;
    width: 127px;
}
.temperature {
    padding: 8px 0px 10px 25px;
}

.line_h {
    width: 2px;
    height: 48px;
    margin: 35px 25px 0 25px;
    background-color: #993CD3;
    z-index:9999;
}

.rate_intro, .temperature_intro {
    color: #A12EB4;
}

.num_1 {
    color: white;
    font-size: 46px;
}
.num_2{
    color: #A12EB4;
    font-size: 18px;
    padding-left: 8px;
}

.hello_word {
    background-image: url("../images/1/早上好背景图.png");
    background-position: 0px -230px;
    height: 40px;
    color: #C167DA;
    font-size: 12px;
    padding-left: 42px;
    line-height: 40px;
    vertical-align: bottom;
}

.food_vew_footer {
    background-image: url("../images/1/底部背景图.png");
    background-position: 0px -1330px;
    height: 35px;
    vertical-align: bottom;
}

.humidity, .wind {
    font-size: 1.4em;
}

.box{
  display: -webkit-flex; /* Safari */
  display: flex;
}
.inline_box {
    display: inline-flex;
    display: -webkit-inline-flex;
}
.item {
  flex-grow: 1; /* default 0 */
}

.true_main_div {
    min-height: 1060px;
}
.footer_div {
    min-height: 200px;
    background: -webkit-gradient(linear, 0 0, 100% 0, from(#1D2434), to(#212E3E));
}
.choose_fridge_and_foodtype {
    color: #AEC6E0;
    font-size: 1.4em;   
    padding: 30px;
}

.food_item {
    margin: 10px 0 10px 8px;
    height: 245px;
    width: 245px;
    border: 2px solid #7E268B;
    display: inline-block;
    vertical-align: top;
    padding: 4px;
    position: relative;
}
.food_left, .food_right {
    display: inline-block;
    vertical-align: top;
}
.food_left {
    background-color: #5D2E84;
    height: 55px;
    width: 90px;
}
.no_food_left {
    background-color: #D43308;
    height: 100%;
    width: 90px; 
}

.no_left_day_div_left {
    padding-top: 5px;
    padding-left: 8px;
    color: white;
    font-size:34px;
}

.no_left_day_div_right .day {
    font-size: 12px;
    color: white;
}


.in_line {
    display: inline-block;
}

.no_left_day_div > div {
    display: inline-block;
}
.food_item .image_v {
    width: 165px;
    height: 165px;
    float:right;
    vertical-align: bottom;
    margin-right: 10px;
}
.left_day_div {
    padding-left: 8px;
    padding-top: 5px;
}
.left_day_div_left {
    font-size: 34px;
    color: white;
}
.left_day_div_right .day {
    color: white;
    font-size: 12px;
}
.left_day_div > div {
    display: inline-block;
    vertical-align: top;
}
.choose_fridge_and_foodtype > div ,.food_type_list > div {
    display: inline-block;
}

.food_name, .food_weight {
    color: #361753;
    font-size: 22px;
    padding: 10px 0 0 8px;
}

.no_food_left .food_name, .no_food_left .food_weight {
     color: white;
}
.food_weight {
    font-size: 17px;
    padding-top: 4px;
}

.food_right {
    border: 0px solid black;
    float: right;
    position: absolute;
    right: 0;
    top:0;
}

.cycle {
    font-size: 8px;
    padding-top: 18px;
    padding-right: 23px;
    padding-bottom: 30px;
    text-align: right;
    color: #7C4C97;
}
.no_eat img{
    z-index: 999;
}

.no_eat {
    z-index: 1200;
    height: 100px;
    background-repeat: no-repeat;
    background-image: url("../images/1/已经过期2.png");
    background-position: -2px -95px;
}
.no_eat_title {
    color: white;
    font-size: 10px;
}
.food_type_list {
    float: right;
    cursor: pointer;
}
.food_type_list > div {
    width: 120px;
    padding: 5px;
    border: 2px solid #AEC6E0;
    border-radius: 30px;
}

.menu_list {
    height: 38px;
    background-image: url("../images/1/导航栏背景图.png");
    background-position:  -2px -2px;
    color: #9B10A5;
    line-height: 40px;
    font-size: 18px;
    cursor: pointer;
    padding: 0 85px 0 85px;
}
.menu_list img {
    height: 20px;
}

.manage_menu_on {
    background-image: url("../images/1/食材管理(亮).png") !important;
    background-repeat: no-repeat;
    background-position: 10px 0px !important;
}
.manage_menu_off {
    background-image: url("../images/1/食材管理(暗).png");
    background-repeat: no-repeat;
    background-position: 18px 8px;
}
.mall_menu_on {
    background-image: url("../images/1/在线生鲜(亮).png") !important;
    background-repeat: no-repeat;
    background-position: 10px 0px !important;
}
.mall_menu_off {
    background-image: url("../images/1/在线生鲜(暗).png");
    background-repeat: no-repeat;
    background-position: 18px 8px;
}
.cookbook_menu_on {
    background-image: url("../images/1/菜谱推送(亮).png") !important;
    background-repeat: no-repeat;
    background-position: 10px 0px !important;
}
.cookbook_menu_off {
    background-image: url("../images/1/菜谱推送(暗).png");
    background-repeat: no-repeat;
    background-position: 18px 8px;
}
.manage_menu  img {
    height: 20px;
}

.manage_menu {

}
.mall_menu , .cookbook_menu {
    height: 20px;
}

.menu_list_click, .food_type_choose {
    color: white;
}
.menu_list_click {
    border-bottom: 0px white solid;
}
.food_type_choose {
    border: 0px solid white;
}
.middle-menu > div  {
    display: inline-block;
}

.food_detail {
    position: fixed;
    top: 20px;
    left: 40px;
    z-index: 999;
    width: 689px;
    height: 586px;
    background-image: url("../images/1/弹出-背景.png");
    background-position: -40px -430px;
}

.cook_book_descrpition {
    position: fixed;
    top:0;
    left:0;
    z-index: 999;
    width: 400px;
    height: 400px;
    background-color: white;
}

.view_cart_list_detail {
    position: fixed;
    top: 10px;
    left: 40px;
    z-index: 2999;
    background-image: url(../images/2/弹出1/弹出-背景.png);
    background-position: -40px -377px;
    height: 576px;
    width: 687px;
}

.cb_type {
    padding: 10px;
    margin: 10px;
    color: #AEC6E0;
    border: 1px solid #AEC6E0;
    border-radius: 15px;
    width: 15%;
    display: inline-flex;
    justify-content:center;
    cursor: pointer;
}
.food_detail_header > div {
    display: inline-block
}
.food_detail_header {
    border: 0px solid black;
    position:relative;
    text-align: center;
}
.chs_name {
    margin-top: 15px;
    font-size: 34px;
    color: white;
}
.english_name {
    font-size: 17px;
    color: #AA57D1;
}

.line_w {
    margin: 15px 45px 15px 45px;
    height: 2px;
    background-color: #9B4ED9;
}
.order_header {
    margin: 0 45px 15px 45px;
}
.close_view_food {
    position: absolute;
    right:0;
    float: right;
    padding: 15px;
}
.order_header {
    height: 34px;
}
.order_header_intro {
    background-image: url("../images/2/弹出1/订单信息-背景.png");
    height: 34px;
    width: 107px;
    color: white;
    font-size: 17px;
    text-align: center;
    line-height: 32px;
}
.order_express_time {
    padding-right: 19px;
    vertical-align: top;
    text-align: right;
    background-image: url("../images/2/弹出1/送达时间背景.png");
    height: 34px;
    width: 490px;
    color: #D5ABF7;
    font-size: 13px;
    line-height: 34px;
}
.order_express_time img {
    margin-right: 11px;
    position: relative;
    top: -2px;
}

.food_detail_second_header {
    padding-left: 46px;
}
.food_detail_second_header > div {
    display: inline-block;
    vertical-align: top;
}

.food_detail_left_day,.no_food_detail_left_day {
    height: 57px;
    background-image: url("../images/1/弹出-过期天数背景.png");
    width: 213px;
    z-index: 1999;
}
.food_detail_weight {
    height: 57px;
    background-image: url("../images/1/弹出-剩余存量背景.png");
    width: 384px;
}
.no_food_detail_left_day {
    line-height: 57px;
    padding-left: 13px;
    font-size: 30px;
    color: #EAACFF;
}
.food_detail_left_day >div  {
    display: inline-block;
}
.food_detail_left_day_num {
    padding-left: 13px;
    font-size: 35px;
    color: #EAACFF;
}
.food_detail_left_icon img {
    margin-top: 15px;
}
.left_day_intro {
    color: #EAACFF;
    font-size: 12px;
}

.food_detail_weight .qinake {
    font-size: 14px;
    color: #AF2CD4;
    padding: 8px 10px 0 9px;
}
.food_detail_weight .detail_weight {
    padding: 8px 0 0 14px;
    font-size: 33px;
    color: #F6AEFF;
}
.food_detail_weight .cunliang {
    padding: 34px 0 0 0 ;
    font-size: 14px;
    color: #AF2CD4;
}

.food_detail_weight > div {
    display: inline-block;
    float: right;
}
.food_detail_body_div {
    height: 295px;
    border: 0px solid black;
    padding: 35px 45px 35px 45px;
}

.food_detail_body_div img {
    height: 170px;
}
.food_detail_body_div > div  {
    display: inline-block;
    border: 0px solid ;
}
.food_detail_body_list {
    margin-left: 25px;
    width: 390px;
    vertical-align: top;
}
.detail_descrpition {
    color: #EAACFF;
    padding-top: 10px;
}
.food_detail_body_list_item {
    vertical-align: top;
    padding: 6px;
    width: 45%;;
    display: inline-block;
}

.detail_head {
    height: 18px;
    width: 70px;
    text-align: center;
    background-color: #EAACFF;
    color:  #A64BDC;
    border-radius: 3px;
    display:block;

}
.detail_body {
    padding-top:8px;
    color: white;
    width: 210px;
}

.order_good_list {
    border: 0px solid;
    margin: 0 45px 0 45px;
    height: 280px;
    overflow-y: scroll; 
}

.order_good_item {
    width:280px;
    border: 1px solid;
    height: 91px;
    border: 2px solid #7E268B;
    margin-right: 3px;
    margin-bottom: 2px;
    background-color: white;
}
::-webkit-scrollbar  {
    width: 9px;  
    background-color: #8329B4;  
}

::-webkit-scrollbar-thumb {
    width: 9px;
    background-color: #5D2E84; 
}
.total_price_intro {
    background-image: url("../images/2/弹出1/合计金额-背景.png");
    margin:28px 0px 0 45px;
    height:  48px;
    width: 425px;
    vertical-align: top;
    font-size: 16px !important;
    line-height: 46px;
    text-align: right;
    color: #F498FF;
    padding-right: 28px;
}
.finger_icon {
    margin-top: 90px;
}
.finger_intro1 {
    margin-top: 42px;
    font-size: 20px;
    color: #FBBAFF;
    text-align: center;
}
.finger_intro2 {
    margin-top: 10px;
    font-size: 12px;
    color: #C85DF3;
    text-align: center;
    letter-spacing: 2px;
}
.second_total_price_intro {
    margin: 7px 0px 0 45px;
    height:  48px;
    width: 596px;
    background-image: url("../images/2/弹出2/合计金额-背景.png");
    font-size: 16px !important;
    line-height: 46px;
    text-align: right;
    color: #F498FF;
    padding-right: 18px;
}


.total_price_intro span ,.second_total_price_intro span {
    font-size: 12px;
    color: #F498FF;
}
.make_order {
    margin:28px 0px 0 0px;
    background-color: #C708D4;
    color: white;
    font-size: 21px;
    height: 48px;
    width: 173px;
    text-align: center;
    line-height: 46px;
    font-weight: bold;
}
.order_good_item .good_img {
    width: 135px;
    max-height: 87px;
    vertical-align: top;
}
.nutrition_list {
    border : 1px solid;
    width: 595px;
    height: 25px;
    background-image: url("../images/1/每一百克背景图2.png");
    background-repeat: no-repeat;
    font-size: 12px;
    color: #D265EF;
    padding-left: 10px;
    margin-top: 10px;
}
.nutrition_detail_item {
    display: inline-block;
    width: 24%;
}
.nutrition_detail_num {
    color: white;
    font-size: 34px;
}
.nutrition_detail_unit {
    color: #EA8EFC;
}
.cookbook_type_choose {
    color: white;
    background-color: #AEC6E0;
}

.cookbook_show  > div{
    display: inline-block;
}


.cookbook_detail {
    color: #AEC6E0;
}
.cb_name, .footer_right_icon {
    color: white;
}

.footer_div > div{
    display: inline-flex;
}
.footer_info {
    background-color: : #AEC6E0;
    padding: 15px;
    color: white;
}

.mall_intro{
    color: white;
}

.mall_type {
    position:relative;
    margin-left: 25px;
    margin-right: 25px;
    top: -1px;
    cursor: pointer;
    line-height: 50px;
    color: #C608D3;
    vertical-align: bottom;
    text-align: center;
    align-items: center;
    justify-content: center ;
}

.mall_type_choose {
    color: white;
    border-bottom: 2px solid #F240FF;
}


.mall_type_list {
    position:relative;
    top: -1px;
    height: 70px;
    padding: 10px;
    font-size: 16px;
    background-color: #59237B;
}

.market_list, .brand_list {
    color: #AEC6E0;
    cursor: pointer;
}

.market_choosed, .market_intro , .brand_choosed, .brand_intro{
    color: white;
}

.market_intro , .market_list , .brand_intro , .brand_list {
    display: inline-flex;
    padding: 20px;
}

.filter_market_brand {
    margin: 15px;
    padding: 15px;
    background-color: #364C61;
}

.good_list {
    display: inline-flex;
    flex-wrap: wrap;
    !height: 690px;
    !overflow-y: scroll;
}


.good_item {
    margin: 10px 0 10px 8px;
    height: 245px;
    width: 245px;
    border: 2px solid #7E268B;
    display: inline-block;
    vertical-align: top;
    !padding: 4px;
    position: relative;
}

.good_item img {
    position: relative;
    top: -2px;
    left: -3px;
    width: 0 auto;
    max-height: 160px;
    z-index: -1;
}

.good_price {
    color: #D43308;
    font-size: 21px;
}

.good_name {
    font-size: 15px;
    color:#371854;
}

.good_market {
    font-size: 12px;
    color:#371854;
}

.cart_icon {
    float: right;
    cursor: pointer;
}

.good_detail {
    padding: 6px 12px 10px 12px;

}
.good_footer {
    color: red;
}

.good_footer > div {
    display: inline-block;
}

.cart_btn {
    color: white;
    float: right;
    margin-right: 20px;
}

.cart_div{
    height: 160px;
    !z-index: 1000;
    background-image: url('../images/2/背景-底部.png');
    background-position: 0px -1144px;
    padding: 10px;
}

.cart_status_show {
    width: auto;
    background-image: url("../images/2/购物清单背景.png");
    background-position: -12px -10px;
    height: 104px;
    border-radius: 5px;
}

.show_cart_list_detail {
    border-radius: 5px;
    background-color: #C708D4;
    color: white;
    height: 104px;
    width: 155px;
    vertical-align: top;
    font-size: 27px;
    line-height: 104px;
    text-align: center;
}
.view_cart_list_detail_div {
    position: relative;
}

.close_icon {
    position: absolute;
    right: 14px;
    top:18px;
    cursor: pointer;
}
.back_icon {
    position: absolute;
    left: 16px;
    top:20px;
    cursor: pointer;
}

.cart_list_detail_title {
    padding-top: 31px;
    font-size: 21px;
    color: #FA73FF;
}

.total_price {
    color: #FA73FF;
    float:right;
    font-size:33px;
    margin-right: 30px;
    line-height: 104px;
}

.total_count {
    color: white;
    font-size: 17px;
    float:right;
    background-color: #C708D4;
    border-radius:33px;
    line-height: 30px;
    width: 33px;
    height: 33px;
    margin-right: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 37px;
}
.cart_intro {
    padding: 25px 0 0 45px;
    color: white;
    vertical-align: top;
}
.cart_intro_time  span{
    font-size: 12px;
    line-height: 18px;
    padding: 2px;
    padding-left: 4px;
}
.cart_intro_title {
    font-size: 24px;
    display: block;
}

.food_vew_footer {
    float: right;
    width: 100%;
    padding: 14px 15px 0 15px;
}
.food_page_item {
    margin-left: 15px;
    float: right;
    display: inline-block;
    width: 10px;
    height: 10px;
    border: 2px solid  #9706A1;
    border-radius: 10px;
    cursor: pointer;
}

.food_page_item_choose {
    background-color: #9706A1;
}
