.main-wrapper {
    !height: 1920px;
    !width: 1080px;
}

.header-wrapper {
    padding: 15px;
    border:0px solid black;
    height: 560px;
    background: -webkit-gradient(linear, 0 0, 100% 0, from(#233041), to(#324968));
}

.left-header {
    float: left;
    color: #AEC6E0;
    font-size:2em;
}

.right-header {
    float: right;
    color: #AEC6E0;;
    
}

.datetime, .chs-title, .eng-title{
    color: white;
}
.chs-title{
    font-size: 1.4em;
}
.datetime {
    font-size: 1.4em;
    padding: 15px;
}
.time {
    float: right;
}

.temperature > div {
    display: inline-block;
}

.datetime > div {
    display: inline-block;
}

.hello_word {
    background: -webkit-gradient(linear, 0 0, 100% 0, from(#1D2434), to(#212E3E));
    height: 60px;
    line-height: 60px;
    font-size: 2em;
    padding-left: 30px;
    color: #AEC6E0;
}

.humidity, .wind {
    font-size: 1.4em;
}

.box{
  display: -webkit-flex; /* Safari */
  display: flex;
}
.item {
  flex-grow: 1; /* default 0 */
}

.true_main_div {
    min-height: 700px;
    background: -webkit-gradient(linear, 0 0, 100% 0, from(#273C4F), to(#283848));
}
.footer_div {
    min-height: 200px;
    background: -webkit-gradient(linear, 0 0, 100% 0, from(#1D2434), to(#212E3E));
}
.choose_fridge_and_foodtype {
    color: #AEC6E0;
    font-size: 1.4em;   
    padding: 30px;
}
.food_list {
    font-size: 1.4em;   
    color: #AEC6E0;
}
.food_item {
    height: 110px;
    border: white 1px solid;
    display: inline-flex;
    width: 33%;
}
.choose_fridge_and_foodtype > div ,.food_type_list > div {
    display: inline-block;
}

.food_type_list {
    float: right;
    cursor: pointer;
}
.food_type_list > div {
    width: 120px;
    padding: 5px;
    border: 2px solid #AEC6E0;
    border-radius: 30px;
}

.menu_list {
    height: 60px;
    background: -webkit-gradient(linear, 0 0, 100% 0, from(#2B3946), to(#334456));
    color: #AEC6E0;
    line-height: 60px;
    font-size: 2em;
    color: #AEC6E0;
    cursor: pointer;
}

.menu_list_click, .food_type_choose {
    color: white;
}
.menu_list_click {
    border-bottom: 2px white solid;
}
.food_type_choose {
    border: 2px solid white;
}
.middle-menu > div  {
    display: inline-block;
}

.food_detail {
    position: fixed;
    top:0;
    left:0;
    z-index: 999;
    width: 400px;
    height: 400px;
    background-color: white;
}

.cook_book_descrpition {
    position: fixed;
    top:0;
    left:0;
    z-index: 999;
    width: 400px;
    height: 400px;
    background-color: white;
}

.view_cart_list_detail {
    position: fixed;
    top:0;
    left:0;
    z-index: 999;
    width: 400px;
    height: 400px;
    background-color: white;
}

.cb_type {
    padding: 10px;
    margin: 10px;
    color: #AEC6E0;
    border: 1px solid #AEC6E0;
    border-radius: 15px;
    width: 15%;
    display: inline-flex;
    justify-content:center;
    cursor: pointer;
}

.cookbook_type_choose {
    color: white;
    background-color: #AEC6E0;
}

.cookbook_show  > div{
    display: inline-block;
}


.cookbook_detail {
    color: #AEC6E0;
}
.cb_name, .footer_right_icon {
    color: white;
}

.footer_div > div{
    display: inline-flex;
}
.footer_info {
    background-color: : #AEC6E0;
    padding: 15px;
    color: white;
}

.mall_intro{
    color: white;
}

.mall_type {
    padding: 15px;
    cursor: pointer;
    color: #AEC6E0;
    text-align: center;
    justify-content: center ;
}

.mall_type_choose {
    color: white;
    background-color: #364C61;
}

.market_list, .brand_list {
    color: #AEC6E0;
    cursor: pointer;
}

.market_choosed, .market_intro , .brand_choosed, .brand_intro{
    color: white;
}

.market_intro , .market_list , .brand_intro , .brand_list {
    display: inline-flex;
    padding: 20px;
}

.filter_market_brand {
    margin: 15px;
    padding: 15px;
    background-color: #364C61;
}

.good_list {
    display: inline-flex;
    flex-wrap: wrap;
    height: 690px;
    overflow-y: scroll;
}


.good_item {
    width: 30%;
    background-color: #364C61;
    margin: 15px;
    padding: 15px;
    border-radius: 15px;
    height: 330px;
}

.good_name {
    color: white;
}
.good_footer {
    color: red;
}

.good_footer > div {
    display: inline-block;
}

.cart_btn {
    color: white;
    float: right;
    margin-right: 20px;
}

.cart_status_show {

    width: auto;
    background-color: #364C61;
    height: 80px;
    border-radius: 15px;
}

.show_cart_list_detail {
    border-radius: 15px;
    background-color: red;
    color: white;
    height: 80px;
    line-height: 60px;
    width: 150px;
}

.cart_status_show > div {
    display: inline-flex;
    align-items: center;
}

.cart_intro span {
    color: #AEC6E0;
}



.cart_intro {
    color: white;
}

.total_price {
    color: red;
    float:right;
    margin-right: 30px;
    line-height: 80px;
}

.total_count {
    color: white;
    float:right;
    background-color: red;
    border-radius:30px;
    width: 30px;
    height: 30px;
    margin-right: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}

.cart_intro_title {
    font-size: 2em;
    display: block;
}
